fastapi
uvicorn[standard]
sqlalchemy
mysql-connector-python
python-dotenv
passlib     # CAMBIO: Quita [bcrypt] y también quita la línea 'bcrypt'
pyjwt
jinja2
python-multipart
aiofiles
email-validator
itsdangerous